
/**
 * Dependencies.
 */

@import 'necolas/normalize.css';

/**
 * Variables.
 */

:root {
  --orange: #FF8A52;

  --pink: #DA6F92;

  --purple: #6453BA;
  --light-purple: color(var(--purple)) lighten(50%));
  --dark-purple: color(var(--purple)) darken(50%));
}

/**
 * Base.
 */

html {
  font: 300 21px/1.4 'Roboto', sans-serif;
  color: #444;
}

/**
 * Locals.
 */

@import './lib/article';
@import './lib/header';
@import './lib/highlight';