
/**
 * Dependencies.
 */

@import 'necolas/normalize.css';
@import 'duojs/logo';

/**
 * Variables.
 */

:root {
  --orange: #FF8A52;

  --pink: #DA6F92;

  --purple: #6453BA;
  --light-purple: color(var(--purple)) lighten(50%));
  --dark-purple: color(var(--purple)) darken(50%));
}

/**
 * Base.
 */

html {
  font: 300 21px/1.4 'Roboto', sans-serif;
  color: #444;
}

main {
  position: relative;
  z-index: 1;
  top: 3em;
  margin-top: 100%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

/**
 * Locals.
 */

@import './lib/article';
@import './lib/header';
@import './lib/highlight';