
<!doctype html>
<html>
  <head>
    <title>Duo</title>
    <link rel="stylesheet" href="build/index.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic" >
  </head>
  <body>
    <header class="Header">
      <form class="Header-search">
        <input class="Header-search-input"
               type="text"
               placeholder="Search packages...">
      </form>
      <h1 class="Header-title logo"
          data-logo="Duo"
          data-color="white"><a href="/">Duo</a></h1>
      <p class="Header-tagline">A next-generation package manager for the front-end.</p>
      <a class="Header-github" href="https://github.com/duojs/duo">View on GitHub</a>
    </header>
    <main>
      <article>{{{ contents }}}</article>
    </main>
    <footer class="Footer">
      <p>Brought to you by</p>
      <a class="logo"
         data-logo="Lapwing Labs"
         data-color="white"
         href="https://lapwinglabs.com"><span>Lapwing Labs</span></a>
      <p>and</p>
      <a class="logo"
         data-logo="Segment.io"
         data-color="white"
         href="https://segment.io"><span>Segment.io</span></a>
    </footer>
    <script src="build/index.js"></script>
  </body>
</html>
